{{ ansible_managed | comment }}
{% macro tcp_multiport_rule(ipsource,ports,comment) -%}
{%- if ports is string -%}
{{ _tcp_multiport_rule(ipsource,ports,comment) }}
{%- else -%}
{{ _tcp_multiport_rule(ipsource,ports|join(','),comment) }}
{%- endif -%}
{%- endmacro -%}
{%- macro _tcp_multiport_rule(ipsource,multiportstr,comment) -%}
-A DOCKER-USER -s "{{ ipsource|replace(' ','') }}" -p tcp -m tcp --match multiport --dports "{{ multiportstr|replace(' ','') }}" -j ACCEPT -m comment --comment "{{ comment|trim }}"
{%- endmacro -%}

*filter
:DOCKER-USER - [0:0]

{% for ips in ipaccess %}
{% if ips.iplist is defined and ips.iplist|length>0 %}
{% for ip in ips.iplist %}
{% if ips.ports is defined and ips.ports|length>0 %}
{{ tcp_multiport_rule(ip,ips.ports,ips.name) }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

-A DOCKER-USER -j REJECT --reject-with icmp-port-unreachable

COMMIT

{{ ansible_managed | comment }}
